##### Class 設計

In [10]:
import pymysql

class SqlQuery:
    def __init__(self, database=None):
        self.connection = pymysql.connect(
            host="localhost",
            user="root",
            password="P@ssw0rd", 
            port=3306,
            database=database,
            cursorclass=pymysql.cursors.DictCursor
        )

    def show_db(self):
        with self.connection.cursor() as cursor:
            sql = "SHOW DATABASES;"
            cursor.execute(sql)
            result = cursor.fetchall()

        return result
    
    def show_table(self):
        with self.connection.cursor() as cursor:
            sql = "SHOW TABLES;"
            cursor.execute(sql)
            result = cursor.fetchall()

        return result
    
    def query(self, sql):
        with self.connection.cursor() as cursor:
            cursor.execute(sql)
            result = cursor.fetchall()
        return result



q1 = SqlQuery()
db = q1.show_db()
print(db)

my_train_titanic_q = SqlQuery("my_train_titanic")
tables = my_train_titanic_q.show_table()
print(tables)

# """ 讓字串可以換行
sql = """ 
SELECT * FROM passengers
WHERE sex = 'male' AND name LIKE '%Timothy'
LIMIT 1;
"""

passengers = my_train_titanic_q.query(sql)
print(passengers)

[{'Database': 'information_schema'}, {'Database': 'my_database'}, {'Database': 'my_train_titanic'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sakila'}, {'Database': 'social_media_app'}, {'Database': 'sys'}, {'Database': 'world'}]
[{'Tables_in_my_train_titanic': 'artists'}, {'Tables_in_my_train_titanic': 'passengers'}, {'Tables_in_my_train_titanic': 'ports'}, {'Tables_in_my_train_titanic': 'songs'}, {'Tables_in_my_train_titanic': 'tickets'}]
[{'id': 553, 'survived': Decimal('0.00'), 'pclass': Decimal('3.00'), 'name': "O'Brien, Mr. Timothy", 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'cabin': None, 'ticketId': 457, 'portId': 3}]

##### 繼承